[package]
name = "tungstenite"
description = "Lightweight stream-based WebSocket implementation"
categories = ["web-programming::websocket", "network-programming"]
keywords = ["websocket", "io", "web"]
authors = ["Alexey Galakhov", "Daniel Abramov"]
license = "MIT/Apache-2.0"
readme = "README.md"
homepage = "https://github.com/snapview/tungstenite-rs"
documentation = "https://docs.rs/tungstenite/0.11.1"
repository = "https://github.com/snapview/tungstenite-rs"
version = "0.11.1"
edition = "2018"

[package.metadata.docs.rs]
features = ["native-tls"]

[features]
default = []
use-native-tls = ["native-tls"]
use-native-tls-vendored = ["use-native-tls", "native-tls/vendored"]
use-rustls = ["rustls", "webpki", "webpki-roots"]

[dependencies]
base64 = "0.13.0"
byteorder = "1.3.2"
bytes = "1.0"
http = "0.2"
httparse = "1.3.4"
input_buffer = { version = "0.4.0", git = "https://github.com/snapview/input_buffer.git" }
log = "0.4.8"
rand = "0.8.0"
sha-1 = "0.9"
url = "2.1.0"
utf-8 = "0.7.5"

[dependencies.native-tls]
optional = true
version = "0.2.3"

[dependencies.rustls]
optional = true
version = "0.19.0"

[dependencies.webpki]
optional = true
version = "0.21.4"

[dependencies.webpki-roots]
optional = true
version = "0.21.0"

[dev-dependencies]
env_logger = "0.8.1"
net2 = "0.2.33"
